.add-services form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.add-services form input,textarea{
    width: 75%;
    margin-bottom: 30px;
    
}
.add-services .submit{
    width: 40%;
    margin-bottom: 30px;
    
}
