.contact-bg{
   
        background-image:url("https://i.ibb.co/M2QQBFx/bg-contact.png");
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        
      
}